
/*************************** GLOBAL ***************************/
html,
body {
    width: 100%;
    height: 100%;
}

:root {
    --primary-color: #523249;
    --rose-taupe: #815355;
}

.bg-violet {
    background-color: var(--primary-color) !important;
}

.bg-rose {
    background-color: var(--rose-taupe)!important;
}

.text-violet {
    color: var(--primary-color) !important;
}

.text-white {
    color: #FFF !important;
}

.text-justify {
    text-align: justify;
}

.custom-hr {
    background-color: #FFF;
    border: #FFF;
    display: block;
    height: 2px;
}

.section-separator {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-separator.parallax {
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*************************** END GLOBAL ***************************/

/**************************COLLAPSE*******************************/
/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: var(--bs-gray-300);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible-active,
.collapsible:hover {
    background-color: var(--bs-gray-400);
}

/* Style the collapsible content. Note: hidden by default */
.collapsible-content {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
.collapsible-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
  }
/*************************** END COLLAPSE ***************************/

/*************************** INTRO SECTION ***************************/
.intro-section {
    height: calc(100vh - 56px);
    min-height: 500px;
}

.intro-section-avatar {
    max-width: 300px;
}

.intro-section-social-media-link {
    text-decoration: none;
    color: var(--rose-taupe);
    font-size: 1.5em;
}
/*************************** END INTRO SECTION ***************************/


/*************************** ABOUT ME SECTION ***************************/
.about-me-bg {
    background-image: linear-gradient(0deg, rgba(19, 1, 14, 0.5), rgba(64, 64, 61, 0.65)), url("./imgs/clouds-background.webp")
}
/*************************** END ABOUT ME SECTION ***************************/

/*************************** ACADEMIC SECTION ***************************/
.academic-bg {
    background-image: linear-gradient(0deg, rgba(19, 1, 14, 0.5), rgba(64, 64, 61, 0.65)), url("./imgs/library-wallpaper.jpg")
}

.academic-institution-logo {
    width: 100%;
    height: 100%;
    max-width: 80px;
    aspect-ratio: 3/4;
    object-fit: contain;
    display: block;
}
/*************************** END ACADEMIC SECTION***************************/

/*************************** PROFESSIONAL SECTION***************************/
.profissional-bg {
    background-image: linear-gradient(0deg, rgba(19, 1, 14, 0.5), rgba(64, 64, 61, 0.65)), url("./imgs/computer-wallpaper.jpg")
}
/*************************** END PROFESSIONAL SECTION***************************/

/*************************** PROJECTS SECTION***************************/
.projects-bg {
    background-image: linear-gradient(0deg, rgba(19, 1, 14, 0.5), rgba(64, 64, 61, 0.65)), url("./imgs/fall-walpaper.jpg")
}

.project-section-logo {
    max-width: 95px;
    width: 100%;
    height: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
}

.project-section-technology-logo {
    font-size: 1.8em;
}
/*************************** END PROJECTS SECTION***************************/